.nav, .row, .input-group,
h4, h3, a, p {
    margin: 0;
    padding: 0;
}

div[class*="col-"] {
    padding: 0;
}

img {
    width: 100%;
    height: 100%;
}

hr {
    margin: 0;
}

ul {
    border: none !important;
}

a {
    color: black;
}

select {
    outline: none;
    border: none;
    background: none;
    -moz-appearance: none;
    -webkit-appearance: none;
}

hr {
    border-color: #efefef;
}

h4 {
    font-size: 1.7em;
}

p, h1, h2, h3, h4, h5, h6 {
    line-height: 1.5;
}

input {
    border: none;
}

#block {
    width: 600px;
    margin: 0 auto;
    overflow: hidden;
}

header {
    color: white;
    background: #558AD8;
    padding: 17px 20px;
    height: 75px;
}

header a {
    color: white;
}

header span {
    font-size: 2.1em;
}

header select {
    font-size: 1.9em;
}

.title {
    border-left: 4px solid #558AD8;
    padding-left: 8px;
    font-size: 1.7em;
    line-height: 1;
    margin: 3px 0;
}

.disabled {
    pointer-events: none;
    cursor: default;
}

.glyphicon-menu-left, .glyphicon-user {
    font-size: 2.7em;
}

.btn-lg {
    font-size: 1.9em;
}

a {
    text-decoration: none !important;
}

main img {
    height: 226px;
}

#main_nav a {
    background: none;
    margin: 17px 20px;
    letter-spacing: 1px;
    color: black;
    border: none;
}

#main_nav a p {
    font-size: 1.25em;
}

#main_nav .active {
    font-weight: 800;
}

#main {
    line-height: 2;
    color: #999999;
    font-size: 1.7em;
    padding: 17px 20px;
}

#main .evaluat {
    border-bottom: 1px solid #efefef;
    padding: 17px 20px;
}

#main .customer {
    color: black;
}

#main .content {
    line-height: 1.2;
}

#main a {
    font-size: 1em !important;
    line-height: 3;
}

#menu {
    margin-bottom: 120px;
    border-radius: 0 0 10px 10px;
    box-shadow: 0 2px 6px #b7b7b7;
}

#menu table {
    font-size: 1.7em;
}

#menu table #menu_title {
    font-weight: 600;
}

#menu table tr {
    height: 75px;
    line-height: 75px;
}

#menu table td {
    border: none;
}

button {
    width: 600px;
    height: 75px;
    font-size: 2.5em;
    border-radius: 0 !important;
    box-shadow: 0 2px 6px #b7b7b7;
}

h2 {
    padding: 0;
    margin: 0 !important;
}

.glyphicon-plus-sign, .glyphicon-minus-sign {
    color: rgba(92, 165, 250, 0.71);
    font-size: 1.7em !important;
}

td span {
    font-size: 0.95em;
    margin: 0 3px;
}

.glyphicon-minus-sign {
    color: rgba(248, 102, 98, 0.73);
}